{{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag: preload: true }}
{{ 'custom-featured-collection.min.css' | asset_url | stylesheet_tag: preload: true }}
<script src="{{ 'custom-featured-collection.min.js' | asset_url }}"></script>
<script src="{{ 'swiper-bundle.min.js' | asset_url }}"></script>

<div class="container_featuredcollection">
  <div class="section-{{ section.id }} swiper-container featured-collection-slider">
    <!-- Heading from Schema Settings -->
    <h2 class="section-title">{{ section.settings.section_title }}</h2>
  
    <div class="swiper-wrapper">
      {% assign products = collections[section.settings.collection].products %}
      {% for product in products limit: section.settings.num_products %}
        <div class="swiper-slide">
          {% render 'product-grid-item', product: product %}
        </div>
      {% endfor %}
    </div>
  
    <!-- Pagination controls for Swiper -->
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"><i class="fas fa-chevron-right"></i></div>
    <div class="swiper-button-prev"><i class="fas fa-chevron-left"></i></div>
    
    <!-- View More Button -->
    {% if section.settings.show_view_more_button %}
      <div class="view-more-container">
        <a href="{{ collections[section.settings.collection].url }}" class="view-more-button">
          {{ section.settings.view_more_button_text }}
        </a>
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Featured Collection",
  "settings": [
    {
      "type": "collection",
      "label": "Select Collection",
      "id": "collection",
      "info": "Choose the collection to display"
    },
    {
      "type": "text",
      "label": "Section Title",
      "id": "section_title",
      "default": "Featured Collection",
      "info": "Set a title for this section"
    },
    {
      "type": "number",
      "label": "Number of Products",
      "id": "num_products",
      "default": 4,
      "info": "Set the number of products to display at once"
    },
    {
      "type": "checkbox",
      "label": "Show View More Button",
      "id": "show_view_more_button",
      "default": true,
      "info": "Toggle the display of the 'View More' button"
    },
    {
      "type": "text",
      "label": "View More Button Text",
      "id": "view_more_button_text",
      "default": "View More Products",
      "info": "Customize the text of the 'View More' button"
    }
  ],
  "presets": [
    {
      "name": "Custom Featured Collection"
    }
  ]
}
{% endschema %}